AUTH_SERVICE_NAME=auth-service
AUTH_HTTP_ADDR=:8081
AUTH_GRPC_ADDR=:9091
AUTH_DYNAMO_ENDPOINT=http://localstack:4566
AUTH_IDEMPOTENCY_TABLE=cc-ledger-local
AUTH_BALANCE_BASE_URL=http://balance-service:8082
AUTH_LEDGER_GRPC_ADDR=ledger-service:9093

BALANCE_SERVICE_NAME=balance-service
BALANCE_HTTP_ADDR=:8082
BALANCE_REDIS_ADDR=redis:6379
BALANCE_POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/cc?sslmode=disable

LEDGER_SERVICE_NAME=ledger-service
LEDGER_HTTP_ADDR=:8083
LEDGER_GRPC_ADDR=:9093
LEDGER_DYNAMO_ENDPOINT=http://localstack:4566
LEDGER_TABLE_NAME=cc-ledger-local

FRAUD_SERVICE_NAME=fraud-service
FRAUD_GRPC_PORT=9094

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
AWS_REGION=us-east-1
